#wraper{
    width: 100%;
    height: 100%;
    background-color: #cccccc;
    position: absolute;
    left: 0;
    top:0;
}
h3{
    font-family: '微软雅黑';
}

#wraper>#outer{
    height: 400px;
    position: absolute;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

form{
    font-family: '微软雅黑';
    margin-top: 15px;
}

@media screen and (min-width : 1366px) {
    #outer{
        width:20%
    }
}

@media  screen  and (max-width: 1366px) and (min-width: 800px) {
    #outer{
        width:30%
    }
}

@media  screen  and (max-width: 800px) {
    #outer{
        width:70%
    }
}

#login-btn{
    background: #F6490D;
    color: #fff;
}